a{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        line-height: 30.00004005432129px;
        color: rgb(0, 157, 233);        
        
        font-weight: 400;
        text-decoration: none;
}